.banner {
	display: flex;
	background-color: beige;
	margin: 0 60px 60px 60px;
}
.h-text {
	width: 30%;
	margin: 70px;
}
.h-text>h1{
    color: rgb(16, 108, 16);
}

.bttn {
	border: none;
	border-radius: 29px;
	margin-left: 20px;
	background-color: rgb(16, 108, 16);
	color: white;
	padding: 10px 20px;
}
