.Iprod{
   
    max-width: 23%;
    margin: 12px;
}
img{
    max-width: 90%;
    border-radius: 15px;
    
}
button{
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
}
button:hover{
    background-color: rgb(16, 108, 16);
    color: white;
    border: none;
}

